.tag{
    background: url(../assets/images/banner.png) 50% 0 no-repeat fixed;
}
.tabs{
    display: flex;
}
.tab{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 300px;
    box-sizing: border-box;
}
.tab-item{
    display: block;
    padding: 15px 0;
    cursor: pointer;
    overflow: hidden;
    font-size: 24px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 10px 10px 12px #50170f;
}
.tab-item:hover{
    color: #ffc038;
}
.tab-item+.tab-item{
    margin-top: 15px;
}
.tab-contents{
    flex: 1;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgba(229,214,180,.6);
    background-image: url(../assets/images/dronia_img01.png);
    background-repeat: no-repeat;
    background-position: right 50%;
    background-attachment: fixed;
    box-sizing: border-box;
}
.tab-content{
    padding: 15px 30px;
    min-height: 100vh;
}

.tag-title{
    font-size: 30px;
    color: #fff;
    text-shadow: 0 0 20px #50170f;
    letter-spacing: 3px;
}
.tag .blog-title{
    color: red;
    text-shadow: 0 0 10px #fff;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 1.5;
}

